//colors variables
$headerColor: #f3e9f1;

//Mixins
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin flexHeader() {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
// Global
*,
*::before,
*::after {
  box-sizing: border-box;
}
// Container
.container {
  height: 100vh;
}

// Header
.header {
  @include flexHeader();
  background-color: $headerColor;
  &_img {
    height: 5em;
  }
  &_nav {
    &_li {
      list-style: none;
    }
  }
}

// Main Content
.box-container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}
.product {
  width: 100%;
  //height: 300px;
  padding: 1em;
  text-decoration: none;
  background-color: violet;
  //background: linear-gradient(to bottom rgb(254, 168, 237), rgb(214, 37, 179));
  &_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  &_sideBySide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

//ProductsUnique

.data_img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

/*
La Page du Formulaire
*/

.mainForm {
  background-color: #9b59b6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.containerForm {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  &_form {
    padding: 30px 40px;
  }
  &_formControl {
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
  }
  &_label {
    display: inline-block;
    margin-bottom: 5px;
  }
  &_input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    //font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
  }
  &_icon {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
  }
  &_msg {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &_btn {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: #fff;
    display: block;
    padding: 10px;
    width: 100%;
  }
}
.success input {
  border-color: #2ecc71;
}
.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}
.error input {
  border-color: #e74c3c;
}
.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}
.error small {
  visibility: visible;
  color: #e74c3c;
}
